.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/run/
/.idea/

src/main/python/*
!src/main/python/__DUMMY__
/libs/access-widener-2.1.0.jar
/libs/annotations-24.0.1.jar
/libs/ashley-1.7.4.jar
/libs/asm-9.6.jar
/libs/asm-analysis-9.6.jar
/libs/asm-commons-9.6.jar
/libs/asm-tree-9.6.jar
/libs/asm-util-9.6.jar
/libs/bcpkix-jdk18on-1.76.jar
/libs/bcprov-jdk18on-1.76.jar
/libs/bcutil-jdk18on-1.76.jar
/libs/box2dlights-1.5.jar
/libs/checker-qual-3.42.0.jar
/libs/collections-23.1.2.jar
/libs/collections-v0-0.3.0.jar
/libs/commons-collections4-4.4.jar
/libs/commons-lang3-3.13.0.jar
/libs/commons-v0-0.3.0.jar
/libs/crash-v0-0.3.0.jar
/libs/datetime-v0-0.3.0.jar
/libs/dev-launch-injector-0.2.1+build.8.jar
/libs/error_prone_annotations-2.26.1.jar
/libs/events-v1-0.3.0.jar
/libs/fabric-loader-cdf99bdca1.jar
/libs/fabric-loader-junit-cdf99bdca1.jar
/libs/failureaccess-1.0.2.jar
/libs/fastutil-8.5.12.jar
/libs/fastutil-core-8.5.9.jar
/libs/flatlaf-3.2.1.jar
/libs/flow-noise-1.0.0.jar
/libs/functions-v0-0.3.0.jar
/libs/gdx-1.12.1.jar
/libs/gdx-ai-1.8.2.jar
/libs/gdx-backend-headless-1.12.1.jar
/libs/gdx-backend-lwjgl3-1.12.1.jar
/libs/gdx-backend-lwjgl-1.12.1.jar
/libs/gdx-box2d-1.12.1.jar
/libs/gdx-controllers-core-2.2.3.jar
/libs/gdx-controllers-desktop-2.2.3.jar
/libs/gdx-freetype-1.12.1.jar
/libs/gdx-freetype-platform-1.12.1-natives-desktop.jar
/libs/gdx-jnigen-loader-2.3.1.jar
/libs/gdx-platform-1.12.1-natives-desktop.jar
/libs/gdx-tools-1.12.1.jar
/libs/gdx-vfx-core-0.5.4.jar
/libs/gdx-vfx-effects-0.5.4.jar
/libs/gdx-video-1.3.2-SNAPSHOT.jar
/libs/gdx-video-desktop-1.3.2-SNAPSHOT.jar
/libs/gdx-video-lwjgl3-1.3.2-SNAPSHOT.jar
/libs/gltf-2.1.0.jar
/libs/groovy-4.0.14.jar
/libs/gson-2.10.1.jar
/libs/guava-33.2.0-jre.jar
/libs/icu4j-23.1.2.jar
/libs/imgui-java-binding-1.86.2.jar
/libs/imgui-java-lwjgl3-1.86.2.jar
/libs/imgui-java-natives-linux-1.86.2.jar
/libs/imgui-java-natives-macos-1.86.2.jar
/libs/imgui-java-natives-windows-1.86.2.jar
/libs/jamepad-2.0.20.0.jar
/libs/javassist-3.28.0-GA.jar
/libs/jlayer-1.0.1-gdx.jar
/libs/jna-5.13.0.jar
/libs/jna-platform-5.13.0.jar
/libs/jniutils-23.1.2.jar
/libs/jnoise-core-f45d87516b.jar
/libs/jnoise-generators-f45d87516b.jar
/libs/jnoise-modifiers-f45d87516b.jar
/libs/jnoise-modules-f45d87516b.jar
/libs/jnoise-pipeline-f45d87516b.jar
/libs/jnoise-transformers-f45d87516b.jar
/libs/joptsimple-6.3.2.1.jar
/libs/jorbis-0.0.17.jar
/libs/json5-api-d0a559bc9b.jar
/libs/json-23.1.2.jar
/libs/json-20231013.jar
/libs/jspecify-0.3.0.jar
/libs/jsr305-3.0.2.jar
/libs/junit-jupiter-api-5.10.0.jar
/libs/junit-jupiter-engine-5.10.0.jar
/libs/junit-platform-commons-1.10.0.jar
/libs/junit-platform-engine-1.10.0.jar
/libs/junit-platform-launcher-1.10.0.jar
/libs/jzlib-1.1.3.jar
/libs/kotlin-stdlib-1.9.22.jar
/libs/libnoiseforjava-f77e0827da.jar
/libs/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
/libs/llvm-api-23.1.2.jar
/libs/log4j-api-2.22.1.jar
/libs/log4j-core-2.22.1.jar
/libs/log4j-slf4j2-impl-2.22.1.jar
/libs/lwjgl-3.3.3.jar
/libs/lwjgl-3.3.3-natives-linux.jar
/libs/lwjgl-3.3.3-natives-linux-arm32.jar
/libs/lwjgl-3.3.3-natives-linux-arm64.jar
/libs/lwjgl-3.3.3-natives-macos.jar
/libs/lwjgl-3.3.3-natives-macos-arm64.jar
/libs/lwjgl-3.3.3-natives-windows.jar
/libs/lwjgl-3.3.3-natives-windows-x86.jar
/libs/lwjgl-glfw-3.3.3.jar
/libs/lwjgl-glfw-3.3.3-natives-linux.jar
/libs/lwjgl-glfw-3.3.3-natives-linux-arm32.jar
/libs/lwjgl-glfw-3.3.3-natives-linux-arm64.jar
/libs/lwjgl-glfw-3.3.3-natives-macos.jar
/libs/lwjgl-glfw-3.3.3-natives-macos-arm64.jar
/libs/lwjgl-glfw-3.3.3-natives-windows.jar
/libs/lwjgl-glfw-3.3.3-natives-windows-x86.jar
/libs/lwjgl-jemalloc-3.3.3.jar
/libs/lwjgl-jemalloc-3.3.3-natives-linux.jar
/libs/lwjgl-jemalloc-3.3.3-natives-linux-arm32.jar
/libs/lwjgl-jemalloc-3.3.3-natives-linux-arm64.jar
/libs/lwjgl-jemalloc-3.3.3-natives-macos.jar
/libs/lwjgl-jemalloc-3.3.3-natives-macos-arm64.jar
/libs/lwjgl-jemalloc-3.3.3-natives-windows.jar
/libs/lwjgl-jemalloc-3.3.3-natives-windows-x86.jar
/libs/lwjgl-openal-3.3.3.jar
/libs/lwjgl-openal-3.3.3-natives-linux.jar
/libs/lwjgl-openal-3.3.3-natives-linux-arm32.jar
/libs/lwjgl-openal-3.3.3-natives-linux-arm64.jar
/libs/lwjgl-openal-3.3.3-natives-macos.jar
/libs/lwjgl-openal-3.3.3-natives-macos-arm64.jar
/libs/lwjgl-openal-3.3.3-natives-windows.jar
/libs/lwjgl-openal-3.3.3-natives-windows-x86.jar
/libs/lwjgl-opengl-3.3.3.jar
/libs/lwjgl-opengl-3.3.3-natives-linux.jar
/libs/lwjgl-opengl-3.3.3-natives-linux-arm32.jar
/libs/lwjgl-opengl-3.3.3-natives-linux-arm64.jar
/libs/lwjgl-opengl-3.3.3-natives-macos.jar
/libs/lwjgl-opengl-3.3.3-natives-macos-arm64.jar
/libs/lwjgl-opengl-3.3.3-natives-windows.jar
/libs/lwjgl-opengl-3.3.3-natives-windows-x86.jar
/libs/lwjgl-stb-3.3.3.jar
/libs/lwjgl-stb-3.3.3-natives-linux.jar
/libs/lwjgl-stb-3.3.3-natives-linux-arm32.jar
/libs/lwjgl-stb-3.3.3-natives-linux-arm64.jar
/libs/lwjgl-stb-3.3.3-natives-macos.jar
/libs/lwjgl-stb-3.3.3-natives-macos-arm64.jar
/libs/lwjgl-stb-3.3.3-natives-windows.jar
/libs/lwjgl-stb-3.3.3-natives-windows-x86.jar
/libs/miglayout-3.7.4.jar
/libs/nativebridge-23.1.2.jar
/libs/nativeimage-23.1.2.jar
/libs/netty-all-4.1.100.Final.jar
/libs/netty-buffer-4.1.100.Final.jar
/libs/netty-codec-4.1.100.Final.jar
/libs/netty-codec-dns-4.1.100.Final.jar
/libs/netty-codec-haproxy-4.1.100.Final.jar
/libs/netty-codec-http2-4.1.100.Final.jar
/libs/netty-codec-http-4.1.100.Final.jar
/libs/netty-codec-memcache-4.1.100.Final.jar
/libs/netty-codec-mqtt-4.1.100.Final.jar
/libs/netty-codec-redis-4.1.100.Final.jar
/libs/netty-codec-smtp-4.1.100.Final.jar
/libs/netty-codec-socks-4.1.100.Final.jar
/libs/netty-codec-stomp-4.1.100.Final.jar
/libs/netty-codec-xml-4.1.100.Final.jar
/libs/netty-common-4.1.100.Final.jar
/libs/netty-handler-4.1.100.Final.jar
/libs/netty-handler-proxy-4.1.100.Final.jar
/libs/netty-handler-ssl-ocsp-4.1.100.Final.jar
/libs/netty-resolver-4.1.100.Final.jar
/libs/netty-resolver-dns-4.1.100.Final.jar
/libs/netty-resolver-dns-classes-macos-4.1.100.Final.jar
/libs/netty-resolver-dns-native-macos-4.1.100.Final-osx-aarch_64.jar
/libs/netty-resolver-dns-native-macos-4.1.100.Final-osx-x86_64.jar
/libs/netty-transport-4.1.100.Final.jar
/libs/netty-transport-classes-epoll-4.1.100.Final.jar
/libs/netty-transport-classes-kqueue-4.1.100.Final.jar
/libs/netty-transport-native-epoll-4.1.100.Final-linux-aarch_64.jar
/libs/netty-transport-native-epoll-4.1.100.Final-linux-x86_64.jar
/libs/netty-transport-native-kqueue-4.1.100.Final-osx-aarch_64.jar
/libs/netty-transport-native-kqueue-4.1.100.Final-osx-x86_64.jar
/libs/netty-transport-native-unix-common-4.1.100.Final.jar
/libs/netty-transport-rxtx-4.1.100.Final.jar
/libs/netty-transport-sctp-4.1.100.Final.jar
/libs/netty-transport-udt-4.1.100.Final.jar
/libs/opensimplex-1.0.3.jar
/libs/opentest4j-1.3.0.jar
/libs/polyglot-23.1.2.jar
/libs/profiler-tool-23.1.2.jar
/libs/python-community-23.1.2.pom
/libs/python-language-23.1.2.jar
/libs/python-language-enterprise-23.1.2.jar
/libs/python-resources-23.1.2.jar
/libs/quantum-client-wip~more-entities-SNAPSHOT.jar
/libs/quantum-desktop-wip~more-entities-SNAPSHOT.jar
/libs/quantum-fabric-loader-cdf99bdca1.jar
/libs/quantum-gameprovider-wip~more-entities-SNAPSHOT.jar
/libs/quantum-server-wip~more-entities-SNAPSHOT.jar
/libs/reactive-streams-1.0.4.jar
/libs/reactor-core-3.6.2.jar
/libs/reflections-0.10.2.jar
/libs/regex-23.1.2.jar
/libs/registries-v0-0.3.0.jar
/libs/resources-v0-0.3.0.jar
/libs/rhino-1.7.15.jar
/libs/rhino-engine-1.7.15.jar
/libs/scala-library-2.13.12.jar
/libs/shapedrawer-2.6.0.jar
/libs/slf4j-api-2.0.9.jar
/libs/sponge-mixin-0.12.5+mixin.0.8.5.jar
/libs/swingbits-1.2.2.jar
/libs/text-v0-0.3.0.jar
/libs/tiny-mappings-parser-0.3.0+build.17.jar
/libs/tiny-remapper-0.8.7.jar
/libs/translations-v0-0.3.0.jar
/libs/translations-v1-0.3.0.jar
/libs/truffle-api-23.1.2.jar
/libs/truffle-compiler-23.1.2.jar
/libs/truffle-enterprise-23.1.2.jar
/libs/truffle-nfi-23.1.2.jar
/libs/truffle-nfi-libffi-23.1.2.jar
/libs/truffle-runtime-23.1.2.jar
/libs/ubo-1.4.0-hotfix.1.jar
/libs/word-23.1.2.jar
/libs/xz-1.9.jar
/logs/2024-05-17-1.log.gz
/logs/2024-05-17-2.log.gz
/logs/2024-05-17-3.log.gz
/logs/2024-05-17-4.log.gz
/logs/2024-05-17-5.log.gz
/logs/2024-05-17-6.log.gz
/logs/2024-05-17-7.log.gz
/logs/debug.log
/logs/debug-1.log.gz
/logs/debug-2.log.gz
/logs/debug-3.log.gz
/logs/debug-4.log.gz
/logs/debug-5.log.gz
/logs/debug-6.log.gz
/logs/debug-7.log.gz
/logs/latest.log
